<launch>
<group ns="red_bot">
  <node pkg="gmapping" type="slam_gmapping" name="gmapping">
      <param name="delta" value="0.025"/>
      <param name="base_frame" value="red_bot/base_link"/>
      <param name="odom_frame" value="red_bot/odom"/>
      <param name="xmin" value="0"/>
      <param name="ymin" value="0"/>
      <param name="xmax" value="2"/>
      <param name="ymax" value="2"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_pub"
  	args="0 0 0 0 0 0 red_bot/base_footprint red_bot/base_link 10"/>
  <node pkg="tf" type="static_transform_publisher" name="scan_link_pub"
  	args="0 0 0 0 0 0 red_bot/base_link red_bot/base_scan 10"/>
</group>
</launch>