<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->
    <!-- You can change control program  -->

    <!-- Launch Navigation -->
    <include file="$(find burger_navigation)/launch/your_burger_navigation_sample.launch">
        <!-- <arg name="robot_name" value="$(arg robot_name)" />-->
    </include>

    <!-- my program node -->
    <!-- 
    <node pkg="aruco_ros" type="marker_publisher" name="bla_sniper_aruco">
       <param name="use_camera_info" value="False"/>
       <remap from="/image" to="snipe_image" />
       <remap from="~markers" to="target_id" />
    </node>
    <node pkg="bla_sniper" type="bla_sniper" name="bla_sniper" output="screen">
      <remap from="~in_image" to="image_raw"/>
      <remap from="~out_image" to="snipe_image"/>
    </node>
     -->
    <node pkg="burger_war" type="bola_de_arroz.py" name="AttackRunBot" output="screen"> 
        <!-- <param name="robot_name" value="$(arg robot_name)" />-->
    </node>
    <node pkg="burger_war" type="enemy_finder.py" name="EnemyFinder" output="screen"> 
        <!-- <param name="robot_name" value="$(arg robot_name)" /> -->
    </node>
    <!-- 
    <node pkg="burger_sakuteki" type="burger_sakuteki" name="Sakuteki" output="screen"> 
        <param name="robot_name" value="$(arg robot_name)" /> 
    </node>
     -->

    <!-- END my program node -->


    <!-- End of your space  -->
</launch>

