<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default=""/> <!-- robot_name for use NAMESPACE -->
  <arg name="side" default="b"/> <!-- "b" = blue side, "r" = red side  -->

    <!-- You can change control program  -->

    <!-- Launch Navigation -->
    <include file="$(find burger_navigation)/launch/your_burger_navigation_sample.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <!-- my program node -->
    <node pkg="burger_war" type="rem_time.py" name="rem_time" output="screen">
        <param name="time" value="180" />
        <param name="unit" value="1" />
    </node>
    <node pkg="burger_war" type="enemy_pos_from_score.py" name="enemy_pos_from_score" output="screen">
        <param name="topic_ws" value="war_state" />
        <param name="side" value="$(arg side)" />
        <param name="rate" value="1" />
    </node>

    <!-- END my program node -->

    <!-- End of your space  -->
</launch>

